h1 {
  text-align: center;
}

.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  background-color: #ff8100;
  color: #fff;
  padding: 0 10px;
  justify-content: space-between;
}

.table-row {
  display: flex;
  font-size: 13px;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #e3e3e3;
}

.table-row:nth-child(even) {
  background: #cccccca6
}
.table-row:nth-child(odd) {
  background: #cccccc2b
}

.table-header > span {
  overflow: hidden;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  padding: 0 5px;
}
.table-row a, .author {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.hide-button, .upvote-button, .prev-button, .next-button {
  border-width: 0;
  background: transparent;
  text-align: inherit;
  padding: 0 5px;
  cursor: pointer;
}
.footer {
  text-align: right;
}
.prev-button, .next-button {
  color: #ff8100;
}
